<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>session.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>session.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<display-name>MenuServlet</display-name>
		<description></description>
		<servlet-class>session.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Filtro</servlet-name>
		<display-name>Filtro</display-name>
		<description></description>
		<servlet-class>session.Filtro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/MenuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Filtro</servlet-name>
		<url-pattern>/Filtro</url-pattern>
	</servlet-mapping>

</web-app>
